<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
  <span>
    CONVERT JSON TO CSV
  </span>
</div>
<p style="color:white; margin-left: -150px;
margin-top: -19px;
position: fixed;
left: 18.5%;
top: 45%;
font-size: 18px;
padding-left: 10px;
padding-right: 10px;" > JSON string must be surrounded by [ ]</p>
<input type='text' id='resizer' placeholder='ex: [{ "name":"John", "age":30}]'>
<p style="color:white; margin-left: -150px;
margin-top: -19px;
position: fixed;
left: 10%;
top: 57%;
font-size: 18px;
padding-left: 10px;
padding-right: 10px;" > or upload JSON file to be converted</p>
<input type="file" id="JSONfile" name="JSONfile" class="upload"(change)="chooseFile($event)" style="margin-left: -150px;
margin-top: -19px;
position: fixed;
left: 20%;
top: 61%;
padding-left: 10px;
padding-right: 10px;
color:white;" #fileInput>
<button type="submit" class="submit" [disabled]="!valid" (click)="onSubmit($event)" style="margin-left: -150px;
margin-top: -19px;
position: fixed;
left: 21%;
top: 67%;
padding-left: 10px;
padding-right: 10px;">Convert </button>
<div class = "adjust" >
<div class="btn" >
    <a (click)="converter()">
      <span>Convert</span>
      <div class="btn-arrow-box">
        <svg class="icon-arrow" viewBox="0 0 46.5 22">
          <polygon points="46.5 11 46.4 11 35.5 22 33.7 20.2 41.6 12.3 0 12.3 0 9.7 41.6 9.7 33.7 1.8 35.5 0 46.5 11"/>
        </svg>
      </div>
    </a>
  </div>
</div>
<div class="test">
  <p id='result'></p>
</div>
</html>
